@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 18, 19, 0.8);
    box-shadow: inset 0 0 100px rgb(10, 11, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
}
.quotation{
    width: 50%;
}
#quote{
    font-size: 50px;
}
#author{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
}
button{
    padding: 15px 30px;
    background-color: transparent;
    color: azure;
    border: 1px solid azure;
    text-transform: uppercase;
    border-radius: 50px;
    position: absolute;
    bottom: 30px;
    transition: 500ms;
}
button:hover{
    transition: 500ms;
    padding: 17px 34px;
    background-color: rgba(18, 19, 20, 0.8);
    cursor: pointer;
}
#sign{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: "Lato";
    font-size: 10px;
    color: rgba(161, 170, 179, 0.8);
}
